#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0a2a43, transparent);
}
#parallax::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
#parallax #text {
  position: relative;
  color: #fff;
  font-size: 10em;
  padding-left: 1em;
  z-index: 1;
}
#parallax #road {
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 5px;
}

strong {
  font-weight: 600;
}

ul, li {
  list-style-type: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

section {
  padding: 2.75em 0;
  margin-bottom: 3rem;
}

section:last-of-type {
  padding: 4.3em 0;
  margin-bottom: 0;
}

.title {
  position: relative;
  font-size: 35px;
  margin: 0 auto 2.15em;
  font-weight: 400;
}
.title::after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  left: 0;
  margin-top: 0.55em;
  background-color: #0083b0;
}

@-webkit-keyframes turn {
  from {
    transform: rotate(-360deg);
  }
}

@keyframes turn {
  from {
    transform: rotate(-360deg);
  }
}
#header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
#header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.45rem 0;
}
#header .header-box_item.header-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.75em;
       column-gap: 2.75em;
}
#header .header-box_item.header-menu ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #0083b0;
  opacity: 0;
  transition: 250ms ease-in-out;
  transform: translateY(5px);
}
#header .header-box_item.header-menu ul li:hover::after {
  opacity: 1;
  width: 100%;
}
#header .header-box_item.header-menu ul li a {
  color: #fff;
  font-size: 18px;
}
#header .header-logo a {
  font-size: 25px;
  color: #fff;
}

.header-bar {
  display: none;
}

#start {
  position: relative;
  background: url(../img/main.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: -1;
}
#start .start-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 1.84em;
  border-radius: 14px;
}
#start .start-box h1 {
  font-size: 45px;
  color: #0083b0;
  text-transform: uppercase;
}
#start .start-box p {
  margin: 1.75em 0;
  font-size: 24px;
  color: #0083b0;
}
#start .start-box_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#start .start-box_buttons a {
  background-color: #0083b0;
  padding: 15px;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  transition: 350ms ease-in-out;
}
#start .start-box_buttons a:hover {
  background-color: #081623;
  cursor: pointer;
}

.about-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about-box_item {
  width: calc(50% - 30px);
}
.about-box_item img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
}
.about-box_item p {
  font-size: 18px;
  line-height: 36px;
}

#advantages {
  margin-top: -150px;
}
#advantages .advantages-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  counter-reset: num;
}
#advantages .advantages-box_item {
  flex-grow: 1;
  width: calc(25% - 5px);
  background-color: #0083b0;
  border-radius: 14px;
  perspective: 900px;
  z-index: 3;
}
#advantages .advantages-box_item:first-child {
  background-color: maroon;
}
#advantages .advantages-box_item:nth-child(2) {
  background-color: blueviolet;
}
#advantages .advantages-box_item:nth-child(3) {
  background-color: teal;
}
#advantages .advantages-box_item:last-child {
  background-color: royalblue;
}
#advantages .advantages-box_item .content {
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 200px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
#advantages .advantages-box_item .content .front::before {
  content: counter(num);
  counter-increment: num;
  font-size: 3.4em;
  margin-right: 10px;
  color: #fff;
}
#advantages .advantages-box_item .content .front,
#advantages .advantages-box_item .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2.1em 1.45em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#advantages .advantages-box_item .content .back {
  transform: rotateY(-180deg);
}
#advantages .advantages-box_item:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

#skills {
  background: url(../img/landing.png) no-repeat;
  background-position: top right;
}

.skills-box {
  display: grid;
  width: 100%;
  gap: 1.8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
}
.skills-box_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border: 1px solid #f9f9f9;
  border-radius: 14px;
  box-shadow: 0px 20px 40px rgba(0, 66, 131, 0.1);
  color: #343434;
  background-color: #fff;
  font-weight: 600;
  transition: transform 250ms ease-in-out;
}
.skills-box_item::before {
  margin-right: 10px;
}
.skills-box_item:hover {
  transform: scale(1.03);
}
.skills-box_item.item1 {
  grid-column: span 2;
}
.skills-box_item.item1::before {
  content: url(../img/icons8-javascript-48.svg);
}
.skills-box_item.item2::before {
  content: url(../img/icons8-sass.svg);
}
.skills-box_item.item3::before {
  content: url(../img/icons8-git.svg);
}
.skills-box_item.item4::before {
  content: url(../img/icons8-joomla.svg);
}
.skills-box_item.item5 {
  grid-column: span 2;
}
.skills-box_item.item5::before {
  content: url(../img/icons8-css3.svg);
}
.skills-box_item.item6::before {
  content: url(../img/icons8-visual-studio-code-2019.svg);
}
.skills-box_item.item7 {
  grid-column: span 2;
}
.skills-box_item.item7::before {
  content: url(../img/icons8-bootstrap.svg);
}
.skills-box_item.item8 {
  grid-column: span 2;
}
.skills-box_item.item8::before {
  content: url(../img/icons8-wordpress.svg);
}
.skills-box_item.item9 {
  grid-column: span 3;
}
.skills-box_item.item9::before {
  content: url(../img/icons8-html-5.svg);
}
.skills-box_item.item10::before {
  content: url(../img/icons8-react-native.svg);
}

.prices-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.prices-box_item {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: 400px;
  padding: 2.3em;
  border-radius: 14px;
  width: calc(33.33% - 30px);
  box-shadow: 0px 20px 40px rgba(0, 66, 131, 0.1);
  transition: 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.prices-box_item h4 {
  position: relative;
  font-size: 27px;
  margin-bottom: 1.45rem;
  font-weight: 300;
}
.prices-box_item h4::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0083b0;
}
.prices-box_item ul {
  margin-bottom: 1.45rem;
  counter-reset: number;
}
.prices-box_item ul li {
  color: #959595;
  font-size: 18px;
  line-height: 36px;
  font-weight: 200;
  transition: 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.prices-box_item ul li::before {
  content: counter(number);
  counter-increment: number;
  margin-right: 0.73rem;
}
.prices-box_item p {
  font-size: 21px;
  font-weight: 500;
}
.prices-box_item:hover {
  background: #0083b0;
  color: #fff;
}
.prices-box_item:hover li {
  color: #fff;
}
.prices-box_item:nth-child(2) ul li {
  color: #fff;
}
.prices-box_item:nth-child(2)::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #11998e, #38ef7d);
  z-index: -1;
}
.prices-box_item:nth-child(2)::before:hover {
  background: #0083b0;
  color: #fff;
  transition: inherit;
  opacity: 1;
}

.portfolio-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.portfolio-box_item {
  flex-grow: 1;
  width: calc(33.33% - 30px);
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}
.portfolio-box_item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
  transition: transform 550ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.portfolio-box_item:hover img {
  border-radius: 14px;
  transform: scale(1.05);
}
.portfolio-box_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0deg, 0%, 100%, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 14px;
  opacity: 0;
  transition: opacity 550ms cubic-bezier(0.23, 1, 0.32, 1);
}
.portfolio-box_item:hover::after {
  opacity: 1;
}
.portfolio-box_item-text {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 0 10px 20px #343434;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  opacity: 0;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.portfolio-box_item:hover .portfolio-box_item-text {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#cta {
  background: url(../img/cta.jpg);
  background-attachment: fixed;
}
#cta p {
  color: #959595;
}

footer {
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}
footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 1.8rem 0;
  color: #fff;
}
footer .footer-box_item {
  width: calc(25% - 50px);
}
footer .footer-box_item h5 {
  font-size: 21px;
  margin-bottom: 15px;
}
footer .footer-box_item ul.links {
  -moz-column-count: 2;
       column-count: 2;
}
footer .footer-box_item ul li {
  line-height: 30px;
}
footer .footer-box_item ul li a {
  color: #fff;
  text-decoration: underline;
}
footer .footer-box_item:last-child {
  text-align: right;
}
footer .footer-box_item:last-child ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .copyright {
  border-top: 2px solid #fff;
}

@media (max-width: 1399px) {
  .container {
    padding: 0 2.75rem;
  }
}
@media (max-width: 1365px) {
  .prices-box_item,
.portfolio-box_item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  #advantages .advantages-box_item {
    width: calc(50% - 5px);
  }
  #parallax #text {
    font-size: 6em;
    padding: 0 1em;
  }
}
@media (max-width: 1199px) {
  footer .footer-box_item {
    width: calc(50% - 50px);
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .prices-box_item,
.portfolio-box_item,
.about-box_item,
#advantages .advantages-box_item {
    width: 100%;
  }
  .header-bar {
    display: block;
    order: 3;
  }
  .header-menu {
    display: none;
  }
  #parallax #text {
    font-size: 4em;
  }
}
@media (max-width: 768px) {
  .skills-box {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 100px);
    grid-auto-rows: 100px;
  }
  .skills-box_item:nth-child(odd) {
    grid-column: 1/2;
  }
  .skills-box_item:nth-child(even) {
    grid-column: 3/-1;
  }
  #parallax #text {
    font-size: 2em;
  }
  footer .footer-box_item {
    width: 100%;
  }
  footer .footer-box_item ul.links {
    -moz-column-count: 1;
         column-count: 1;
  }
  footer .footer-box_item:last-child {
    text-align: left;
  }
  footer .footer-box_item:last-child ul {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .skills-box {
    grid-template-columns: auto;
  }
  .skills-box_item {
    grid-column: 1/-1 !important;
  }
}/*# sourceMappingURL=styles.css.map */